<!--[if lt IE 7]>
<p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
<![endif]-->

<!-- Add your site or application content here -->
<nav>
    <div class="top-ribbon"></div>
    <ul class="nav-font clearfix">
        <li><a href="/admin">Admin</a></li>
    </ul>
</nav>
<div class="sparator"></div>

<header class="site-header">
    <h1 class="title title-font">ReSymf-CMS</h1>
    <p class="tagline tagline-font">
        Flexible &amp; powerfull cms.
    </p>
</header>

<div class="sparator"></div>
<section class="works-hex">

    <a href="" class="category category-1">
        <div class="wrapper"><!--A helper to keep the hexagon's aspect ratio-->
            <div class="hexagon">
                <div class="hexagon-in1">
                    <div class="hexagon-in2">
                        <img class="thumbnail" src="{{ asset('bundles/resymfcms/cms/img/01.jpg') }}" alt="thumbnail">
                    </div><!--hexagon-in2-->
                </div><!--hexagon-in1-->
            </div><!--hexagon-->
        </div><!--wrapper-->
        <div class="category-name"><h2 class="works-font">CMS</h2></div>
    </a><!--category-1-->

    <a href=""  class="category category-2">
        <div class="wrapper">
            <div class="hexagon">
                <div class="hexagon-in1">
                    <div class="hexagon-in2">
                        <img class="thumbnail" src="{{ asset('bundles/resymfcms/cms/img/02.jpg') }}" alt="thumbnail">
                    </div><!--hexagon-in2-->
                </div><!--hexagon-in1-->
            </div><!--hexagon-->
        </div><!--wrapper-->
        <div class="category-name"><h2 class="works-font">Project Management</h2></div>
    </a><!--category-2-->

    <a href=""  class="category category-3">
        <div class="wrapper">
            <div class="hexagon">
                <div class="hexagon-in1">
                    <div class="hexagon-in2">
                        <img class="thumbnail" src="{{ asset('bundles/resymfcms/cms/img/03.jpg') }}" alt="thumbnail">
                    </div><!--hexagon-in2-->
                </div><!--hexagon-in1-->
            </div><!--hexagon-->
        </div><!--wrapper-->
        <div class="category-name"><h2 class="works-font">CRM</h2></div>
    </a><!--category-3-->

</section><!--works-->
<div class="sparator"></div>



<div class="sparator"></div>



<footer class="site-footer site-footer-font">
    <div class="sparator"></div>
    <div class="contact">
        <a href="mailto:piotr.francuz@bizneslan.pl"><i class="icon-envelope-alt"></i> piotr.francuz@bizneslan.pl</a> &middot;
        <a href="tel:514-010-611"><i class="icon-phone"></i> 514 010 611</a> &middot;
        {#<a href="http://www.twitter.com"><i class="icon-twitter"></i> @Mori</a> &middot;#}
        {#<a href="http://www.facebook.com"><i class="icon-facebook-sign"></i> /mori.h</a>#}
    </div>
    <div class="copyright">Template Copyright &#64; 2012 My Story. Made by <a href="#">Hexocat</a> with <i class="icon-heart"></i></div>
</footer>

