.navbar-default, .dropdown-menu {
    background-color: #333 !important;
    border-color: transparent !important;
}
.navbar-default .navbar-nav>li>a,.dropdown-menu>li>a {
    color: #ffffff;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    color: #ffffff;
    background-color: #404040;
}
navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
    color: #ffffff;
    background-color: #404040;
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu>li>a {
     color: #777;
    }
}

body {
    background-color: rgba(229, 229, 229, 0.78) !important;
}