<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>
        {#{% block title %}#}
            {#{% if pageObject.title %}#}
                {#{{ attribute(pageObject,'title') }}#}
            {#{% endif %}#}
        {#{% endblock %}#}
        {#| Resymf app#}
    </title>
    <link href="{{ asset('bundles/resymfcms/css/bootstrap.min.css') }}" rel="stylesheet"/>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>
{% block body %}
    {% if pageObject.content %}
        {{ attribute(pageObject,'content') | raw }}
    {% endif %}
{% endblock %}
{% block javascripts %}{% endblock %}

</body>
</html>
