{% extends 'ReSymfCmsBundle:adminmenu:baseAdmin.html.twig' %}

{% block content %}
    {% if form_config is defined %}
        <div class="col-lg-2 col-md-2"></div>
        <div class="col-lg-8 col-md-8 col-sm-12 ">
            <div class="well">
                <form action="" method="POST" class="bs-example form-horizontal">
                    <fieldset>
                        <div class="form-group">
                            <div class="col-lg-2">
                            </div>
                            <div class="col-lg-9">
                                {# TODO: wstawić z ustawień #}
                                <legend>
                                    {% if edit_object is defined and form_config.editLabel is defined %}
                                        {{ form_config.editLabel }}
                                    {% elseif form_config.createLabel is defined %}
                                        {{ form_config.createLabel }}
                                    {% else %}
                                        Edit Object:
                                    {% endif %}
                                </legend>
                            </div>
                        </div>
                        {% include 'ReSymfCmsBundle:adminmenu:formFields.html.twig' with {'fields': form_config.fields } %}
                        <div class="form-group">
                            <div class="col-lg-2 col-md-2 col-sm-2">
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-9">
                                <input type="submit" class="btn btn-primary" value="{{ 'object.save'|trans }}"/>

                                {% if edit_object is defined %}
                                    {% set id = attribute(edit_object,'id') %}
                                    <a class="btn btn-success show-button"
                                       href="{{ path('object_show', {type: form_config.objectKey, 'id': id}) }}">Show</a>
                                {% endif %}
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
        <div class="col-lg-2 col-md-2"></div>
    {% endif %}
{% endblock %}
