{% extends 'ReSymfCmsBundle:adminmenu:baseAdmin.html.twig' %}

{% block content %}
    {% if form_config is defined %}
        <div class="col-lg-2 col-md-2"></div>
        <div class="col-lg-8 col-md-8 col-sm-12 ">
            <div class="well">
                <form action="" method="POST" class="bs-example form-horizontal">
                    <fieldset>
                        <div class="form-group">
                            <div class="col-lg-2">
                            </div>
                            <div class="col-lg-9">
                                {# TODO: wstawić z ustawień #}
                                <legend>
                                    {% if edit_object is defined and form_config.showLabel is defined %}
                                        {{ form_config.showLabel }}
                                    {% else %}
                                        Show Object:
                                    {% endif %}
                                </legend>
                                <hr style="border-top: 1px dotted #616161;"/>
                            </div>
                        </div>
                        {% include 'ReSymfCmsBundle:adminmenu:showFields.html.twig' with {'fields': form_config.fields } %}

                    </fieldset>
                </form>
            </div>
            {% if form_config.fields %}
                {% for field in form_config.fields %}
                    {% if (field.relationType == 'manyToMany') or (field.relationType == 'oneToMany') %}
                        {% if multi_select[field.name]['table_config'] is defined %}
                            <br/><label for="" class="col-lg-2 control-label">
                                {% if field.fieldLabel %}
                                    {{ field.fieldLabel }}
                                {% else %}
                                    {{ field.name }}
                                {% endif %}
                                :</label><br/>
                            {% include 'ReSymfCmsBundle:adminmenu:table.html.twig' with {'table_config': multi_select[field.name]['table_config'], 'entities': multi_select[field.name]['entities'], 'object_type':  multi_select[field.name]['object_type']} %}
                        {% endif %}
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
        <div class="col-lg-2 col-md-2"></div>
    {% endif %}
{% endblock %}